@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Address : CG/252, GROUND FLOOR, CARNIVAL HOUSE, OFF GENERAL ARUN KUMAR VAIDYA MARG, MALAD EAST, MUMBAI,
    MAHARASHTRA 400097 | Email : hrms@tradingasprofession.com | Website : www.tradingasprofession.com
</address>

<address>
    <strong>Support:</strong>   <a href="hrms@tradingasprofession.com">hrms@tradingasprofession.com</a><br />
</address>